modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start Frontend"

[[workflows.workflow]]
name = "Start Frontend"
author = 44430879
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Frontend && npm run dev"
