modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start Full Stack with Indian Banks API"

[[workflows.workflow]]
name = "Start Frontend"
author = 44430879
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Frontend && npm run dev"

[[workflows.workflow]]
name = "Start Full Stack"
author = 44430879
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Backend && npm start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Frontend && npm run dev"

[[workflows.workflow]]
name = "Start Full Stack with Indian Banks API"
author = 44880063
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Backend && npm start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Frontend && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd IndianBanksAPI && npm start"

[[ports]]
localPort = 5000
externalPort = 80
